<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>      View Showroom   
    <ion-icon name="chevron-down-outline"></ion-icon>  
    </ion-title>
    
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-slides pager="true" autoplay="true" keyboard="true" class="slide-container">
    <ion-slide>
      <img src="assets/showroom1.jpg" class="slide-image">
    </ion-slide>
    <ion-slide>
      <img src="assets/showroom2.jpg" class="slide-image">
    </ion-slide>
    <ion-slide>
      <img src="assets/showroom3.jpg" class="slide-image">
    </ion-slide>
  </ion-slides>

  <h1>Showrooms Nearby You!</h1>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Location</ion-card-subtitle>
      <ion-card-title>Address</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Phone Number</p>
      <h2>Distance: 2Km</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
