<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>      View Showroom   
    <ion-icon name="chevron-down-outline"></ion-icon>  
    </ion-title>
    
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-slides pager="true" autoplay="true" keyboard="true" class="slide-container">
    <ion-slide>
      <img src="assets/showroom1.jpg" class="slide-image">
    </ion-slide>
    <ion-slide>
      <img src="assets/showroom2.jpg" class="slide-image">
    </ion-slide>
    <ion-slide>
      <img src="assets/showroom3.jpg" class="slide-image">
    </ion-slide>
  </ion-slides>

  <h1>Showrooms Nearby You!</h1>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Location</ion-card-subtitle>
      <ion-card-title>Address</ion-card-title>
    </ion-card-header>
<!-- future proposal to change pagination colors and light colored border bottom -->
    <ion-card-content>
      <p>Phone Number</p>
      <h2>Distance: 2KM</h2>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header class="ion-no-margin-bottom">
      <ion-label>
       <h4>
         Other Showrooms
      </h4> 
      <p>Discover more showrooms</p>
      </ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="assets/showroom1.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Motor City</h1>
        <h2>Address: Manamma</h2>
        <h3>Phone Number: 17515151</h3>
        <h4>Rating
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </h4>
        <p>Distance: 2KM Away</p>
        </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
