<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#" ></ion-back-button>
    </ion-buttons>

    <ion-title>ex4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false" color="success">  
  <ion-slides>  
  
    <ion-slide>  
      <img src="https://image3.mouthshut.com/images/ImagesR/imageuser_m/2017/11/925747536-4559193-1.png?rnd=38062"/>  
      <h2>Welcome to the <b>JavaTpoint</b></h2>  
      <p>JavaTpoint offers Corporate Training, Summer Training, Online Training and Winter Training on Java, Android, Python, Oracle, PHP, and many more technologies.</p>  
    </ion-slide>  
  
    <ion-slide>  
      <img src="https://images.prismic.io/ionicframeworkcom/66cfdbef-e59d-463a-8e24-12cb233e9d97_ionic+logo+blue.png?auto=compress,format"/>  
      <h2>What is Ionic?</h2>  
      <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>  
    </ion-slide>  
  
    <ion-slide>  
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Ionic_Logo.svg/1280px-Ionic_Logo.svg.png"/>  
      <h2>What is Ionic Pro?</h2>  
      <p><b>Ionic Pro</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>  
    </ion-slide>  
  
    <ion-slide>  
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Ionic_Logo.svg/1280px-Ionic_Logo.svg.png"/>  
      <h2>Ready to Play?</h2>  
      <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>  
    </ion-slide>  
  
  </ion-slides>  
</ion-content>
