<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#" ></ion-back-button>
    </ion-buttons>

    <ion-title>ex5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">  
  <ion-toolbar>  
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment" color="primary">  
      <ion-segment-button value="0">  
        <ion-label>puppies</ion-label>  
      </ion-segment-button> 

      <ion-segment-button value="1">  
        <ion-label>kittens</ion-label>  
      </ion-segment-button> 

      <ion-segment-button value="2">  
        <ion-label>ducklings</ion-label>  
      </ion-segment-button>  
    </ion-segment>  
  </ion-toolbar>  
    
  <ion-slides #slides (ionSlideDidChange)="slideChanged()">  
    <ion-slide>
      <!-- First Segment -->
      <ion-list>
        <ion-item *ngFor="let p of puppies">
          <ion-thumbnail slot="start">
              <img src="{{ p.img }}">
          </ion-thumbnail>
          <h2>{{ p.name }}</h2>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <!-- Second Segment -->
      <ion-list>
        <ion-item *ngFor="let k of kittens">
          <ion-thumbnail slot="start">
              <img src="{{ k.img }}">
          </ion-thumbnail>
          <h2>{{ k.name }}</h2>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <!-- Third Segment -->
      <ion-list>
        <ion-item *ngFor="let d of ducklings">
          <ion-thumbnail slot="start">
              <img src="{{ d.img }}">
          </ion-thumbnail>
          <h2>{{ d.name }}</h2>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>  
</ion-content>  
