<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Car View Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{ carList[0].model }}
            </ion-card-title>
            <ion-card-subtitle>
              {{ carList[0].price }}
            </ion-card-subtitle>
          </ion-card-header>
          <img src="{{ carList[0].image }}">
          <ion-card-content>
            <p>{{ carList[0].specifications }}</p>
          </ion-card-content>
          <div text-right padding>
            <ion-button fill="clear" color="primary"></ion-button>
          </div>
          <ion-buttons>
            <ion-button fill="clear" color="primary">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon name="heart"></ion-icon>Favorite
            </ion-button>
            <ion-button>
              <ion-icon name="share"></ion-icon>TEST DRIVE
            </ion-button>
          </ion-buttons>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let car of dataSrv.carList">
            <ion-thumbnail slot="start">
              <img src="{{ car.image }}" />
            </ion-thumbnail>
            <ion-label>
              <h2>{{ car.model }}</h2>
              <h3>{{ car.type }}</h3>
              <p>{{ car.features }}</p>
            </ion-label>
            <ion-buttons>
              <ion-button fill="clear" color="primary">
                <ion-icon name="arrow-forward"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon name="heart"></ion-icon>Favorite
              </ion-button>
              <ion-button>
                <ion-icon name="share"></ion-icon>TEST DRIVE
              </ion-button>
            </ion-buttons>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- //ORIGINALLY -->
  <ion-list>
    <ion-item *ngFor="let car of carList">
      <ion-card>
        <ion-card-header>
          <img src="{{car.image}}" alt="">
          <ion-card-title>{{car.model}}</ion-card-title>
          <ion-card-subtitle>{{car.type}}</ion-card-subtitle>
          <p>{{car.specifications}}</p>
        </ion-card-header>
        <ion-card-content>
          <h1>{{car.color}}</h1>
          <p>{{car.features}}</p>
          <p>{{car.price}}</p>
        </ion-card-content>
        <ion-buttons>
          <ion-button fill="clear" color="primary">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="heart"></ion-icon>Favorite
          </ion-button>
          <ion-button>
            <ion-icon name="share"></ion-icon>TEST DRIVE
          </ion-button>
        </ion-buttons>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>