<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#" ></ion-back-button>
    </ion-buttons>

    <ion-title>Example 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label fixed> Name </ion-label>
      <ion-input [(ngModel)]="name" placeholder="Type your name"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label fixed> Email </ion-label>
      <ion-input placeholder="Type your email"></ion-input>
    </ion-item>
    
    <ion-button expand="block" fill="outline" (click)="ShowAlert()">
      <ion-icon name="save-outline" slot="start"></ion-icon>
      <ion-label>Save</ion-label>
    </ion-button>
  </ion-list>
  
  
</ion-content>
