<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<!-- navigate to components pages -->
  <!-- components -->
  <ion-list [inset]="true">
    <ion-header>Components</ion-header>
    <!-- row 1 -->
    <!-- /// -->
    <ion-buttons>
      <!-- c1 one -->
      <ion-button color="primary" routerLink="/ionic-inputs" routerDirection="root">
        input
      </ion-button>
      |
      <!-- c1 two -->
      <ion-button color="primary" routerLink="/ionic-label" routerDirection="root">
        label
      </ion-button>
      |
      <!-- c1 three -->
      <ion-button color="primary" routerLink="/ionic-button" routerDirection="root">
        button
      </ion-button>
      |
      <!-- c1 four -->
      <ion-button color="primary" routerLink="/ionic-icons" routerDirection="root">
        icons
      </ion-button>
      |
      <!-- c2 five -->
      <ion-button color="primary" routerLink="/ionic-alert-ex" routerDirection="root">
        alert
      </ion-button>
    </ion-buttons>
    <!-- row 2 -->
    <!-- /// -->
    <ion-buttons>
      <!-- c2 one -->
      <ion-button color="primary" routerLink="/ionic-lists" routerDirection="root">
        lists
      </ion-button>
      |
      <!-- c2 two -->
      <ion-button color="primary" routerLink="/ionic-loading" routerDirection="root">
        loading
      </ion-button>
      |
      <!-- c2 three -->
      <ion-button color="primary" routerLink="/ionic-grid" routerDirection="root">
        Grid
      </ion-button>
      |
      <!-- c2 four -->
      <ion-button color="primary" routerLink="/ionic-cards" routerDirection="root">
        Cards
      </ion-button>
      |
      <!-- c2 five -->
      <ion-button color="primary" routerLink="/ionic-range" routerDirection="root">
        Range
      </ion-button>
    </ion-buttons>
    <!-- row 3 -->
    <!-- /// -->
    <ion-buttons>
      <!-- c3 one -->
      <ion-button color="primary" routerLink="/ionic-checkbox" routerDirection="root">
        Checkbox
      </ion-button>
      |
      <!-- c3 two -->
      <ion-button color="primary" routerLink="/ionic-badges" routerDirection="root">
        Badges
      </ion-button>
      |
      <!-- c3 three -->
      <ion-button color="primary" routerLink="/ionic-toggle" routerDirection="root">
        Toggle
      </ion-button>
      |
      <!-- c3 four -->
      <ion-button color="primary" routerLink="/ionic-segment" routerDirection="root">
        Segment
      </ion-button>
    </ion-buttons>
    <!-- row 4 -->
    <!-- /// -->
    <ion-buttons>
      <!-- c4 one -->
      <ion-button color="primary" routerLink="/ionic-radio" routerDirection="root">
        Radio
      </ion-button>
      |
      <!-- c4 two -->
      <ion-button color="primary" routerLink="/ionic-select" routerDirection="root">
        Select
      </ion-button>
      |
      <!-- c4 three -->
      <ion-button color="primary" routerLink="/ionic-searchbar" routerDirection="root">
        Searchbar
      </ion-button>
      |
      <!-- c4 four -->
      <ion-button color="primary" routerLink="/ionic-datetime" routerDirection="root">
        Date&time
      </ion-button>      
    </ion-buttons>
    <!-- row 5 -->
    <!-- /// -->
    <ion-buttons>
      <!-- c5 one -->
      <ion-button color="primary" routerLink="/ionic-slides" routerDirection="root">
        Slides
      </ion-button>
      |
      <!-- c5 two -->
      <ion-button color="primary" routerLink="/ionic-fabs" routerDirection="root">
        FABs
      </ion-button>
      |
      <!-- c5 three -->
      <ion-button color="primary" routerLink="/ionic-gestures" routerDirection="root">
        Gestures
      </ion-button>
    </ion-buttons>
  </ion-list>
  <!-- examples -->
  <ion-list [inset]="true">
    <ion-header>Examples</ion-header>
    <!-- row 1 -->
    <!-- /// -->    
    <ion-buttons>
      <!-- e1 one -->
      <ion-button color="primary" routerLink="/ex1" routerDirection="root">
        example 1
      </ion-button>
      |
      <!-- e1 two -->
      <ion-button color="primary" routerLink="/ex2" routerDirection="root">
        example 2
      </ion-button>
      |
      <!-- e1 three -->
      <ion-button color="primary" routerLink="/ex3" routerDirection="root">
        example 3
      </ion-button>
    </ion-buttons>
    <!-- row 2 -->
    <!-- /// -->
    <ion-buttons>
      <!-- e2 one -->
      <ion-button color="primary" routerLink="/ex4" routerDirection="root">
        example 4
      </ion-button>
      |
      <!-- e2 two -->
      <ion-button color="primary" routerLink="/ex5" routerDirection="root">
        example 5
      </ion-button>
      |
      <!-- e2 three -->
      <ion-button color="primary" routerLink="/ex6" routerDirection="root">
        example 6
      </ion-button>
    </ion-buttons>
  </ion-list>

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
